{% extends 'main.html' %}
{% block content%}
{% load static %}
   
    <br>
   	<div class="container">
   	<div class="card shadow-sm" style="padding: 20px; margin-bottom: 30px; font-size: 20px;">
              
            
            {% if j %}
            <h1 style="margin-left: 29%"><b>PATIENTS QUESTIONS</b></h1>
           <h3 style="color:darkgreen; margin-bottom: 20px; margin-left: 20%">(YOUR ANSWER POSTED SUCCESSFULLY)</h3>
            {% else %}
           <h1 style="margin-left: 29%"><b>PATIENTS QUESTIONS</b></h1>
            {% endif %}
            {% for s in question %}
            <div class="card shadow-sm" style="padding: 20px; margin-bottom: 30px;">
            <div class="row">
                <div class="col-6">
                    Name: {{ s.Name }}
                </div>
                <div class="col-6">
                    Age: {{ s.Age }} years
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    Sex: {{ s.Sex }}
                </div>
                <div class="col-6">
                    Place: {{ s.Place }} 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    Email: {{ s.Email }}
                </div>
                <div class="col-6">
                    Phone: {{ s.Phone }} 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                Problem : {{ s.Problem }}
                </div>
            </div>
            <br>
            <div class="form-inline">

            <div>
                <form action="{% url 'patientq' %}"  style="margin-left: 0%" method="POST">
                {% csrf_token %}
                <button name="subject" type="submit" style="background-color:green;width: 325px; height: 50px;" value="{{ s.Problem }}">ANSWER PATIENT
                QUERY</button>
                </form>
            </div>

            <div style="margin-left: 2.5%">
            <form action="{% url 'patienthistory' %}"  method="POST">
                {% csrf_token %}
                <button name="subject" type="submit" style="width: 325px; height: 50px;" value="{{ s.Phone }}">CHECK PATIENT HISTORY</button>
            </form>
        </div>
        <div>
            <form action="{% url 'inappropiate' %}"  style="margin-left: 7%" method="POST">
                {% csrf_token %}
                <button name="subject" type="submit" style="width: 325px; height: 50px;background-color: red;" value="{{ s.Problem }}">INAPPROPIATE QUESTION</button>
            </form>
        </div>

            </div>

            </div>
            {% endfor %} 
    <br>
    <br>

</div></div>
{% endblock %}